<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/cloudflare_icon"
        android:roundIcon="@drawable/cloudflare_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.WakeServer">
        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.BackgroundService"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:permission="info.thanhtunguet.BACKGROUND_IP_SERVICE" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WakeServer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </activity>
    </application>

</manifest>